header{
   
    color: rgb(219, 153, 66);
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(248, 248, 248);
    overflow: hidden;

    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(161, 161, 161);
    color: white;
  }

 .list{
     padding-top: 20px;
 }

 footer{
	background-color: rgb(248, 248, 248);
	text-align: center;
    /*text-decoration-color:#4169E1;*/
	font-size: 15px;
	margin-top: 40px;


}

.row{
  padding-top: 20px;
  }